parameters:
    ignoreErrors:
        -
            message: "#^Called 'env' outside of the config directory which returns null when the config is cached, use 'config'\\.$#"
            count: 5
            path: config/query-params.php
